<div class="markdownx" style="display: flex; flex-wrap: wrap">
  <div
    style="
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 15px;
      padding-left: 15px;
      box-sizing: border-box;
    "
  >
    {% include 'django/forms/widgets/textarea.html' %}
  </div>
  <div
    style="
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 15px;
      padding-left: 15px;
      box-sizing: border-box;
    "
  >
    <div class="markdownx-preview"></div>
  </div>
</div>
