<footer class="footer text-center py-4">
  <small class="copyright"
    >Template Copyright ©
    <a href="https://themes.3rdwavemedia.com/" target="_blank"
      >3rd Wave Media</a
    ></small
  >
</footer>
