{% load static %}
<header class="header text-center">
  <div class="force-overflow">
    <h1 class="blog-name pt-lg-4 mb-0">
      <a class="no-text-decoration" href="{% url 'about' %}">行百里者半九十</a>
    </h1>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navigation"
        aria-controls="navigation"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navigation" class="collapse navbar-collapse flex-column">
        <div class="profile-section pt-3 pt-lg-0">
          <img
            class="profile-image mb-3 rounded-circle mx-auto"
            src="{% static 'images/profile.jpg' %}"
            alt="image"
          />

          <div class="bio mb-3">
            你好，欢迎来到我的网站！</br>我叫黄景天，是一名软件工程师。</br>你可以点击<a
              href="{% url 'about' %}"
              >这里</a
            >进一步了解我。
          </div>
          <!--//bio-->
          <ul class="social-list list-inline py-3 mx-auto">
            <li class="list-inline-item">
              <a href="https://gitlab.com/xblzbjs"><i class="fab fa-gitlab fa-fw"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/xblzbjs/"><i class="fab fa-linkedin-in fa-fw"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/xblzbjs"><i class="fab fa-github-alt fa-fw"></i></a>
            </li>
          </ul>
          <!--//social-list-->
          <hr />
        </div>
        <!--//profile-section-->

        <ul class="navbar-nav flex-column text-start">
          {% url 'about' as url %}
          <li class="nav-item">
            <a
              class="nav-link {% if request.path == url %}active{% endif %}"
              href="{{ url }}"
              ><i class="fas fa-user fa-fw me-2"></i>关于我</a
            >
          </li>
          {% url 'blog:list' as url %}
          <li class="nav-item">
            <a
              class="nav-link {% if request.path == url %}active{% endif %}"
              href="{{ url }}"
              ><i class="fas fa-blog fa-fw me-2"></i>博客
            </a>
          </li>
          {% url 'resume' as url %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">
              <i class="fas fa-file-alt fa-fw me-2"></i>简历
            </a>
          </li>
          {% url 'contact' as url %}
          <li class="nav-item">
            <a
              class="nav-link {% if request.path == url %}active{% endif %}"
              href="{{ url }}"
              ><i class="fas fa-envelope fa-fw me-2"></i>联系</a
            >
          </li>

        </ul>

        <div class="dark-mode-toggle text-center w-100">
          <hr class="mb-4" />
          <h4 class="toggle-name mb-3">
            <i class="fas fa-adjust me-1"></i>夜间模式
          </h4>

          <input class="toggle" id="darkmode" type="checkbox" />
          <label class="toggle-btn mx-auto mb-0" for="darkmode"></label>
        </div>
      </div>
    </nav>
  </div>
</header>
