{% load static %}
<head>
  <meta charset="utf-8" />
  <title>{% block title %}行百里者半九十{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="xblzbjs's website" />
  <meta name="author" content="xblzbjs" />
  <link rel="shortcut icon" href="favicon.ico" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    rel="stylesheet"
  />

  <!-- Bootstrap CSS-->
  <link
    href="{% static 'plugins/bootstrap/bootstrap.min.css' %}"
    rel="stylesheet"
  />

  <!-- FontAwesome JS-->
  <script defer src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
  <script defer src="{% static 'fontawesomefree/js/solid.js' %}"></script>
  <script defer src="{% static 'fontawesomefree/js/brands.js' %}"></script>

  <!-- Project CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet" />

  <!-- Plugin CSS -->
  <link
    href="{% static 'plugins/tiny-slider/tiny-slider.css' %}"
    rel="stylesheet"
  />
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-SMKNKNC1SX"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-SMKNKNC1SX");
  </script>
</head>
