{% load static %}

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'plugins/tiny-slider/min/tiny-slider.js' %}"></script>

<!-- Dark Mode -->
<script src="{% static 'js/js-cookie.min.js' %}"></script>
<script src="{% static 'js/dark-mode.js' %}"></script>
