{% extends 'base.html' %} {% load static humanize %} {% block content %}

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
  <div class="container">
    <div class="profile-teaser row">
      <div class="col">
        <h2 class="name font-weight-bold mb-1">黄景天</h2>
        <div class="tagline mb-3">Web 全栈工程师</div>
        <div class="bio mb-4">
          嗨！我是一名Web 全栈（全干）工程师。记录了点东西在<a
            class="text-link"
            href="{% url 'blog:list' %}"
            >我的博客</a
          >. 如果想了解我更多，欢迎查看我的<a
            class="text-link"
            href="{% url 'resume' %}"
            >在线简历</a
          >.
        </div>
        <div class="mb-4">
          <a class="btn btn-secondary mb-3" href="{% url 'resume' %}"
            ><i class="fas fa-file-alt me-2"></i
            ><span class="d-none d-md-inline">查看</span>简历</a
          >
        </div>
      </div>

      <div class="col-md-5 col-lg-5">
        <img
          class="profile-image img-fluid mb-3 mb-lg-0 me-md-0"
          src="assets/images/profile-lg.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<div class="container"><hr /></div>

<section class="overview-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-3">技术栈</h2>
    <div class="row">
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fab fa-python"></i>
          </div>
          <h3 class="item-title">Python, Django &amp; FastAPI</h3>
          <div class="item-desc">
            熟悉Django及其周边生态，能独立使用Django从零全栈开发一个网站，也能使用Django
            rest framework 和FastAPI开发RESTful API。
          </div>
        </div>
      </div>

      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fa-solid fa-database"></i>
          </div>
          <h3 class="item-title">PostgreSQL &amp; MongoDB</h3>
          <div class="item-desc">
            熟悉PostgreSQL的索引、日志、性能优化、备份和恢复；了解MongoDB的Sharding、内置GridFS和文档结构的存储方式。
          </div>
        </div>
      </div>

      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fa-brands fa-golang"></i>
          </div>
          <h3 class="item-title">Golang & Gin</h3>
          <div class="item-desc">
            能使用Golang与Gin构建微服务，对grpc也有一定的了解。
          </div>
        </div>
      </div>

      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fab fa-js-square"></i> <i class="fab fa-vuejs"></i>
          </div>
          <h3 class="item-title">JavaScript &amp; Vue</h3>
          <div class="item-desc">
            ES6、Pnpm、Vue3、Vite、Echarts、Element-UI、axios、commitlint、eslint......
          </div>
        </div>
      </div>

      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fa-solid fa-chart-line"></i>
            <i class="fa-solid fa-chart-pie"></i>
          </div>
          <h3 class="item-title">Numpy, Pandas &amp; Matplotlib</h3>
          <div class="item-desc">
            能用Numpy、Pandas、Matplotlib和Seaborn进行数据分析和可视化，学习过Google
            Analytics 和 IBM Data Analytics，熟悉常用的数据分析理论。
          </div>
        </div>
      </div>

      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fa-brands fa-linux"></i>
            <i class="fa-brands fa-ubuntu"></i>
          </div>
          <h3 class="item-title">Linux Performanceand Tuning</h3>
          <div class="item-desc">
            选择指标评估Web应用和系统性能；设置性能目标；进行性能基准测试；性能分析与定位瓶颈；性能监控和告警。
          </div>
        </div>
      </div>

      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fa-brands fa-git-alt"></i>
            <i class="fa-brands fa-docker"></i>
            <i class="fa-solid fa-code-merge"></i>
          </div>
          <h3 class="item-title">Git, Docker &amp; CI/CD</h3>
          <div class="item-desc">
            非常熟悉Gitlab的项目管理、CI/CD配置及第三方生态集成，对Git几种工作流模式有详细的了解，Docker的日常使用也不在话下。
          </div>
        </div>
      </div>

      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fa-brands fa-rust"></i>
          </div>
          <h3 class="item-title">Rust</h3>
          <div class="item-desc">
            目前仍在努力学习💪，我相信Rust有美好未来:D。
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container"><hr /></div>

<section class="latest-blog-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-5">最新文章</h2>
    <div class="row">
      {% for post in latest_blog_posts %}
      <div class="col-md-4 mb-5">
        <div class="card blog-post-card">
          <img
            class="card-img-top"
            src="{{ post.thumbnail.url }}"
            alt="image"
          />
          <div class="card-body">
            <h5 class="card-title">
              <a class="theme-link" href="{{ post.get_absolute_url }}"
                >{{ post.title }}</a
              >
            </h5>
          </div>
          <div class="card-footer">
            <small class="text-muted"
              >更新于 {{ post.modified | naturaltime }}</small
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center py-3">
      <a href="{% url 'blog:list' %}" class="btn btn-primary"
        ><i class="fas fa-arrow-alt-circle-right me-2"></i>阅读更多文章</a
      >
    </div>
  </div>
</section>

{% endblock %}
