{% load static %}<!DOCTYPE html>
<html lang="zh-CN">
  {% include "_head.html" %}

  <body>
    {% include "_header.html" %}
    <div class="main-wrapper">{% block content %} {% endblock content %}</div>
  </body>

  {% include "_scripts.html" %}
</html>
