{% extends 'base.html' %} {% load static %} {% block content %}

<section class="cta-section theme-bg-light py-5">
  <div class="container text-center single-col-max-width">
    <h2 class="heading">联系我</h2>
    <div class="intro">
      <p>
        Interested in hiring me for your project or just want to say hi? You can
        fill in the contact form below or send me an email to
        <a class="text-link" href="mailto:#">simon.doe@yourwebsite.com</a>
      </p>
      <p>Want to get connected? Follow me on the social channels below.</p>
      <ul class="list-inline mb-0">
        <li class="list-inline-item mb-3">
          <a class="twitter" href="#"
            ><svg
              class="svg-inline--fa fa-twitter fa-fw fa-lg"
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="twitter"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg=""
            >
              <path
                fill="currentColor"
                d="M459.4 151.7c.325 4.548 .325 9.097 .325 13.65 0 138.7-105.6 298.6-298.6 298.6-59.45 0-114.7-17.22-161.1-47.11 8.447 .974 16.57 1.299 25.34 1.299 49.06 0 94.21-16.57 130.3-44.83-46.13-.975-84.79-31.19-98.11-72.77 6.498 .974 12.99 1.624 19.82 1.624 9.421 0 18.84-1.3 27.61-3.573-48.08-9.747-84.14-51.98-84.14-102.1v-1.299c13.97 7.797 30.21 12.67 47.43 13.32-28.26-18.84-46.78-51.01-46.78-87.39 0-19.49 5.197-37.36 14.29-52.95 51.65 63.67 129.3 105.3 216.4 109.8-1.624-7.797-2.599-15.92-2.599-24.04 0-57.83 46.78-104.9 104.9-104.9 30.21 0 57.5 12.67 76.67 33.14 23.72-4.548 46.46-13.32 66.6-25.34-7.798 24.37-24.37 44.83-46.13 57.83 21.12-2.273 41.58-8.122 60.43-16.24-14.29 20.79-32.16 39.31-52.63 54.25z"
              ></path></svg
            ><!-- <i class="fab fa-twitter fa-fw fa-lg"></i> Font Awesome fontawesome.com --></a
          >
        </li>

        <li class="list-inline-item mb-3">
          <a class="linkedin" href="#"
            ><i class="fab fa-linkedin-in fa-fw fa-lg"></i> </a
          >
        </li>
        <li class="list-inline-item mb-3">
          <a class="github" href="#"
            ><i class="fab fa-github-alt fa-fw fa-lg"></i> </a
          >
        </li>
        <li class="list-inline-item">
          <a class="instagram" href="#"
            ><i class="fab fa-instagram fa-fw fa-lg"></i> </a
          >
        </li>

      </ul>
      <!--//social-list-->
    </div>
    <!--//container-->
  </div>
</section>
<section class="contact-section px-3 py-5 p-md-5">
  <div class="container">
    <form
      id="contact-form"
      class="contact-form col-lg-8 mx-lg-auto"
      method="post"
      action=""
    >
      <h3 class="text-center mb-3">Get In Touch</h3>
      <div class="row g-3">
        {% csrf_token %}
        <div class="col-12 col-md-6">
          <label class="sr-only" for="{{ form.name.id_for_label }}">Name</label>
          {{ form.name }}
        </div>
        <div class="col-12 col-md-6">
          <label class="sr-only" for="{{ form.from_email.id_for_label }}"
            >Email</label
          >
          {{ form.from_email }}
        </div>
        <div class="col-12">
          <label class="sr-only" for="{{ form.subject.id_for_label }}"
            >Subject</label
          >
          {{ form.subject }}
        </div>
        <div class="col-12">
          <label class="sr-only" for="{{ form.message.id_for_label }}"
            >Your message</label
          >
          {{ form.message }}
        </div>
        <div class="form-group col-12">
          <button type="submit" class="btn btn-block btn-primary py-2">
            Send Now
          </button>
        </div>
      </div>
    </form>
  </div>
  <!--//container-->
</section>
{% endblock %}
