{% extends 'base.html' %} {% load static %} {% block content %}

<section class="cta-section theme-bg-light py-5">
  <div class="container text-center single-col-max-width">
    <h2 class="heading mb-3">在线简历</h2>
    <a
      class="btn btn-primary"
      href="{% url 'resume-download' %}"
      target="_blank"
    >
      <i class="fas fa-file-pdf me-2"></i>下载PDF版本
    </a>
  </div>
</section>

<div class="container resume-container px-3 px-lg-5">
  <article
    class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg"
  >
    <div class="resume-header">
      <div class="row align-items-center">
        <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
          <h2 class="resume-name mb-0 text-uppercase">黄景天</h2>
          <div class="resume-tagline mb-3 mb-md-0">Web全栈工程师</div>
        </div>
        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <i class="fas fa-phone-square fa-fw fa-lg me-2"></i>
              <a class="resume-link" href="tel:#">+86-18718361526</a>
            </li>
            <li class="mb-2">
              <i class="fas fa-envelope-square fa-fw fa-lg me-2"></i>
              <a class="resume-link" href="mailto:#">t710255295@gmail.com</a>
            </li>
            <li class="mb-2">
              <i class="fa-brands fa-square-github"></i>
              <a class="resume-link" href="https://github.com/xblzbjs"
                >github.com/xblzbjs</a
              >
            </li>
            <li class="mb-0">
              <i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i
              >深圳，惠州，东莞
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="resume-body">
      <div class="row">
        <div class="resume-main col-12 col-lg-8 col-xl-9 pe-0 pe-lg-5">
          <section class="work-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">工作经历</h3>
            <div class="item mb-3">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                  软件工程师
                </h4>
                <div
                  class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"
                >
                  富士康科技集团 | 2021.08至今
                </div>
              </div>
              <div class="item-content">
                <ul class="resume-list">
                  <li>
                    搭建基于Gitlab的私有DevOps平台并在此之上优化项目管理流程，打通产品、开发、测试、运维沟通桥梁，从瀑布流开发模式转为敏捷开发模式，基本上实现两周迭代一个小版本，节省了30%的沟通成本，客户满意度提高了50%。
                  </li>
                  <li>
                    负责Python/JavaScript数据开发项目的工程化，包括依赖和工作区管理、代码质量、测试、API规范、持续继承多方面，培训部门各项目负责人，获得各项目负责人（开发）的一致支持，项目上线出现Bug的概率下降70%，组内成员的沟通效率提升30%，客户满意度提高了20%。
                  </li>
                  <li>
                    使用Pandas、Numpy、FastAPI、Django rest
                    framework等编写健壮的API和数据脚本，使用Plotly、MatPlotlib、Dash等进行数据可视化和报表展示。
                  </li>
                  <li>
                    撰写系统设计文档对接需求方和产品经理，撰写数据API文档对接开发人员，引入Sentry（错误监控系统），将其部署到服务器上对服务进行Bug、性能监测和告警通知，Bug反馈速度提升了一倍，同时更好的监控系统性能。
                  </li>
                  <li>
                    负责服务器的性能优化工作，主要包括评估Web应用和系统性能；设置性能目标；进行性能基准测试；性能分析与定位瓶颈；性能监控和告警。
                  </li>
                </ul>
              </div>
            </div>
            <!--//item-->
            <div class="item mb-3">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                  Go后端工程师
                </h4>
                <div
                  class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"
                >
                  平方创想教育科技有限公司（实习） | 2021.02 - 2021.07
                </div>
              </div>
              <div class="item-content">
                <ul class="resume-list">
                  <li>
                    与产品经理讨论产品需求并完善高保真原型。重构、维护ToB业务的Web后台系统。
                  </li>
                  <li>使用Go+Gin编写Restful规范的api接口并撰写api文档。</li>
                  <li>
                    撰写Prometheus、Grafana和禅道用户手册。使用Prometheus和Grafana搭建监控平台，告警通知集成钉钉。
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <!--//work-section-->

          <section class="project-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">项目经历</h3>
            <div class="item mb-3">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                  设计品质验证平台
                </h4>
                <div
                  class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"
                >
                  后端开发/运维，非开源
                </div>
              </div>
              <div class="item-content">
                <p>
                  项目简介：ToB的制造业内部机台设计、测试、管理系统。重写已进行一年的项目，并独立负责认证和权限、设备管理、请购管理等子系统的开发
                </p>

                <ul class="resume-list">
                  <li>
                    后端Django3.2、前端Vue2.7的单体Web应用。使用Docker + Docker
                    compose + Nginx + Gunicorn部署应用。
                  </li>
                  <li>
                    使用Django rest framework，Pandas等开发RESTful
                    api，接口文档采用OpenAPI3（swagger）。
                  </li>
                  <li>
                    使用Celery异步任务队列进行大批量任务的处理和周期性任务，包括但不限于数据的导入导出、PDF生成、从Oracle数据库拿数据等，message
                    transport使用Redis，存储也使用Redis。
                  </li>
                  <li>
                    对PostgreSQL13进行备份、恢复、性能优化和日志采集，提高系统的可靠性。
                  </li>
                </ul>
              </div>
            </div>
            <!--//item-->
            <div class="item">
              <div class="item-heading row align-items-center mb-2">
                <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
                  清华大学国际研究生院活动管理系统
                </h4>
                <div
                  class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end"
                >
                  后端开发，非开源
                </div>
              </div>
              <div class="item-content">
                <p>
                  项目简介：高校活动管理系统，主要包括活动预约，活动人员报备等。
                </p>
                <ul class="resume-list">
                  <li>
                    使用Gin + gorm + postgresql开发后台API，接口文档使用swagger
                    ui。
                  </li>
                  <li>
                    参与认证与权限、预约、人员管理等模块的需求沟通和设计开发。
                  </li>
                  <li>
                    使用docker打包应用部署到k8s，使用Prometheus收集应用指标，Grafana展示仪表盘。
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <!--//project-section-->
        </div>
        <!--//resume-main-->
        <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
          <section class="skills-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">技能</h3>
            <div class="item">
              <h4 class="item-title">技术栈</h4>
              <ul class="list-unstyled resume-skills-list">
                <li class="mb-2">Python/Django/FastAPI</li>
                <li class="mb-2">Numpy/Pandas/Matplotlib</li>
                <li class="mb-2">JavaScript/Vue/Element-UI</li>
                <li class="mb-2">PostgreSQL/MongoDB/Redis</li>
                <li class="mb-2">Git/Gitlab CI,CD</li>
                <li class="mb-2">Docker/Celery</li>
                <li class="mb-2">Prometheus/Grafana/Sentry</li>
              </ul>
            </div>
            <!--//item-->
            <div class="item">
              <h4 class="item-title">软技能</h4>
              <ul class="list-unstyled resume-skills-list">
                <li class="mb-2">需求沟通</li>
                <li class="mb-2">项目管理</li>
                <li class="mb-2">时间管理</li>
              </ul>
            </div>
            <!--//item-->
          </section>
          <!--//skills-section-->
          <section class="education-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">教育经历</h3>
            <ul class="list-unstyled resume-education-list">
              <li class="mb-3">
                <div class="resume-degree font-weight-bold">通信工程</div>
                <div class="resume-degree-org text-muted">肇庆学院</div>
                <div class="resume-degree-time text-muted">2017 - 2021</div>
              </li>
            </ul>
          </section>
          <!--//education-section-->
          <section class="education-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">证书</h3>
            <ul class="list-unstyled resume-awards-list">
              <li class="mb-3">
                <div class="font-weight-bold">Google Data Analytics</div>
                <div class="text-muted">Coursera</div>
              </li>
              <li>
                <div class="font-weight-bold">IBM Data Analyst</div>
                <div class="text-muted">Coursera</div>
              </li>
            </ul>
          </section>
          <!--//education-section-->
          <section class="skills-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">语言</h3>
            <ul class="list-unstyled resume-lang-list">
              <li class="mb-2">中文 <span class="text-muted">(母语)</span></li>
              <li>英文 <span class="text-muted">(中等，读写)</span></li>
            </ul>
          </section>
          <!--//certificates-section-->
          <section class="skills-section py-3">
            <h3 class="text-uppercase resume-section-heading mb-4">兴趣爱好</h3>
            <ul class="list-unstyled resume-interests-list mb-0">
              <li class="mb-2">侦探小说</li>
              <li class="mb-2">历史</li>
              <li class="mb-2">健身</li>
            </ul>
          </section>
        </aside>
        <!--//resume-aside-->
      </div>
      <!--//row-->
    </div>
    <!--//resume-body-->
  </article>
</div>

{% endblock %}
