{% extends 'base.html' %} {% load i18n static humanize %} {% block content %}

<article class="blog-post px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <header class="blog-post-header">
      <h2 class="title mb-2">{{ post.title }}</h2>
      <div class="meta mb-3">
        <span class="date"
          >{% translate 'Updated' %} {{ post.modified | naturaltime }}</span
        ><span class="time"
          >{% translate 'Created' %} {{ post.created | naturaltime }}</span
        >
      </div>
    </header>
    <p>{{ post.formatted_markdown | safe }}</p>
  </div>
</article>

{% endblock %}
