{% extends 'base.html' %} {% load static humanize %} {% block content %}

<section class="cta-section theme-bg-light py-5">
  <div class="container text-center">
    <h2 class="heading">一个关于软件开发和生活的博客</h2>
    <div class="intro">欢迎来到我的博客，希望你能收获到对你有帮助的分享！</div>
    <div class="single-form-max-width pt-3 mx-auto">
      <form method="post" class="signup-form row g-2 g-lg-2 align-items-center">
        {% csrf_token %}
        <div class="col-12 col-md-9">
          <label class="sr-only" for="{{ form.email.id_for_label }}"
            >邮箱</label
          >
          {{ form.email }}
        </div>

        <div class="col-12 col-md-2">
          <button type="submit" class="btn btn-primary">订阅</button>
        </div>
      </form>
      <!--//signup-form-->
    </div>
    <!--//single-form-max-width-->
  </div>
  <!--//container-->
</section>

<section class="blog-list px-3 py-5 p-md-5">

  <div class="container">
    <div class="row">
    {% for post in posts %}
    <div class="col-md-4 mb-3">
      <div class="card blog-post-card">
        <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="image">
        <div class="card-body">
          <h5 class="card-title"><a class="theme-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>

        </div>
        <div class="card-footer">
          <small class="text-muted">更新于 {{ post.modified | naturaltime }}</small>
        </div>
      </div><!--//card-->
    </div><!--//col-->
    {% endfor %}
    </div><!--//col-->
  </div><!--//row-->


  <nav class="blog-nav nav nav-justified my-5">
    {% if post.has_previous %}
    <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="?page={{ posts.previous_page_number }}">上一页<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
    {% endif %}
    {% if post.has_next %}
    <a class="nav-link-next nav-item nav-link rounded" href="?page={{ posts.next_page_number }}">下一页<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
    {% endif %}
  </nav>

  </div>

</section>

{% endblock%}
